
<h1>Step 2: Choose  Configuration</h1>
@if (selectedModel()) {
  <div>
    <div>
      <label  for="configSelect">Configuration:</label>
      <select id="configSelect" (change)="onConfigChange">
        <option value="">Choose...</option>
        @for (config of availableConfigs(); track config.id) {
          <option [value]="config.id">
            {{ config.description }}
          </option>
        }
      </select>
    </div>

    @if (selectedConfig()) {
      <div class="config-details">
        <h3>Configuration Details</h3>
        <p><strong>Range:</strong> {{ selectedConfig()?.range }} miles</p>
        <p><strong>Max Speed:</strong> {{ selectedConfig()?.speed }} mph</p>
      </div>
    }

    <div class="options">

      @if (yokeAvailable()) {
        <div class="option">
          <input
            type="checkbox"
            id="yoke"
            [checked]="selectedYoke()"
            (change)="onYokeChange($event)"
          >
          <label for="yoke">Yoke Steering Wheel </label>
        </div>
      }

      @if (towHitchAvailable()) {
        <div class="option">
          <input
            type="checkbox"
            id="towHitch"
            [checked]="selectedTowHitch()"
            (change)="onTowHitchChange($event)"
          >
          <label for="towHitch">Tow Hitch Package </label>
        </div>
      }
    </div>

    <div class="total-price">
      <h3>Total Price: {{ totalPrice() | currency }}</h3>
    </div>
  </div>
} @else {
  <div class="no-model-selected">
    <p>Please select a model and color in Step 1 first.</p>
  </div>
}
@if (imageUrl()) {
  <div>
    <img [src]="imageUrl()" alt="Tesla Model" />
  </div>
}

