<h1>Step 1: Select Model & Color</h1>

<div>
  <label>
    Model:
    <select (change)="selectCar($event)">
      <option value="">Choose Model...</option>
      <option *ngFor="let car of carModels" [value]="car.code">
        {{ car.description }}
      </option>
    </select>
  </label>
</div>

<div *ngIf="configurator.car()">
  <label>
    Color:
    <select (change)="selectColor($event)">
      <option *ngFor="let color of configurator.car()?.colors" [value]="color.code">
        {{ color.description }}
      </option>
    </select>
  </label>
</div>

<div *ngIf="configurator.car() && configurator.color()">
  <img [src]="'https://interstate21.com/tesla-app/images/' + configurator.car()?.code + '/' + configurator.color()?.code + '.jpg'"
       alt="Car Image"
       >
</div>
